<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CleoTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CleoTool.Properties.Settings.CleoToolDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\CleoToolDB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <CleoTool.Properties.Settings>
      <setting name="CleoConfigLoc" serializeAs="String">
        <value>C:\Program Files (x86)\World of Warcraft\_classic_\WTF\Account\OFFSPREY\SavedVariables\Cleo.lua</value>
      </setting>
      <setting name="ToonCache" serializeAs="String">
        <value>Cleo_DB&gt;global&gt;cache&gt;player&gt;</value>
      </setting>
      <setting name="AltMapping" serializeAs="String">
        <value>k</value>
      </setting>
      <setting name="ActivePlayerList" serializeAs="String">
        <value>Cleo_Lists&gt;factionrealm&gt;Alliance - Atiesh&gt;lists&gt;63446602-2A74-DAD4-6934-BE542E7DBA8E&gt;players</value>
      </setting>
      <setting name="LootConfigs" serializeAs="String">
        <value>Cleo_Lists&gt;factionrealm&gt;Alliance - Atiesh&gt;configurations&gt;</value>
      </setting>
      <setting name="LootLists" serializeAs="String">
        <value>Cleo_Lists&gt;factionrealm&gt;Alliance - Atiesh&gt;lists&gt;</value>
      </setting>
      <setting name="OutputLoc" serializeAs="String">
        <value>C:\Users\offsp\Documents\</value>
      </setting>
      <setting name="DiscordUserMapping" serializeAs="String">
        <value>{Booze/Felie:Erboozel}{Kerri/Ann:Kerridwen}{Z-Zealót/Zoidbérg:Zealót}{Jackburton:Jackburtón}{Path:Octane}{Jekka/Febra:Febra}{Prayermayor/Rarebear:Snarebear}{Missed:Missedshift}{Couch:Coùch}{Splurt.Kiluall:Sabatar}</value>
      </setting>
    </CleoTool.Properties.Settings>
  </userSettings>
</configuration>